@media screen and (max-width:600px){
    
    .nav-header{
        flex-direction: column;
    }
    .item-container{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .banner-container{
        width: 100%;
        height: 100%;
    }
    .banner-title{
        font-size: 25px;
    }
    .input-title{
        flex-direction: column;
        gap: 0;
        margin-top: -50px;
    }
    .common , .btn{
        width: 100%;

    }
    .header-title{
        font-size: 24px;
    }
    .banner-description{
        font-size: 16px;
        padding: 10px ;
    }
    /* Banner Section end */
}