@media screen and (max-width:600px){
    
    body{
    max-width: 500px;
    }
    .header-title{
        font-size: 10px;
    }
    .nav-header{
        flex-direction: column;
    }
    .banner-container{
        width: 90%;
    }
    .banner-title{
        font-size: 20px;
    }
    .item-container{
        flex-direction: column;
    }
    .input-title{
        flex-direction: column;
        gap: 0;
        height: 40%;
    }
    .common , .btn{
        width: 100%;
}
