/* Maim Header */

body{
    font-family: "Mulish";
    border: 2px solid;
    max-width: 1200px;
    margin: 0 auto;
}
/* Nav Style Start */
.nav-header{
    display: flex;
    align-items: center;

}
.header-title{
    color: #131318;
    font-size: 34px;
    font-weight: 800;
}
.heart{
    color: #FF5400;
}
.nav-title{
    display: flex;
    width: 50%;
}
.item-container{
    width: 50%;
    display: flex;
    justify-content: space-around;
    color:#424247;
    font-size: 18px;
    font-weight: 400;
}
#home{
    color: #FF5400;
}
.item-container a{
    text-decoration: none;
}
/* Banner Start */
.banner-container{
    background-image: url('../Images/Banner.png');
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-top: 60px;
    border-radius: 20px;
}
.banner-head{
  padding-top: 70px;
}

.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1px;

}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom:60px;
}
.input-title{
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 50%;
    height: 15%;
    margin: 0 auto;
}

.common{
    color: #13131880;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    margin-top: 20px;
}
.btn{
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    color: #FFFFFF;
    background: #FF5400;
    text-align: center;
    margin-top: 20px;
}
/* Main Section Start */

.main-title{
    width: 50%;
    border: 2px solid;
    margin-left: 20px;
    margin-top: 100px;
}
.main-container{
    display: flex;
    gap: 20px;
}
.tours-item{
color: #131318;
font-size: 40px;
font-weight: 800;
}
.tours-rules{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
}
.tours-img{
 margin-top: 100px;
 object-fit: cover;
}
/* Tours role end */
.choose-title{
    text-align: center;
}
.choose-disition{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 80px;
}
.choose-description{
color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
width: 600px;
margin: 0 auto;
padding-bottom: 80px;
}
.spot-title img{
    margin-left: 15px;
    margin-bottom: 10px;
}
/* ** */
.div-head{
display: flex;
}
.hotel-header{
    max-width: 45%;
    border: 2px solid;
    background-color: rgb(248, 214, 237);
    margin-left: 30px;
    border-radius: 10px;
}
.hotel-title , .hotel-header img ,.last-hotel img{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
    margin-top: 25px;

}
.hotel-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    padding-left: 32px;
}
.last-hotel-container{
    border: 2px solid yellow;
    margin-top: 30px;
}

.last-hotel {
    max-width: 45%;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 40px;
    margin: 0 auto;
    background-color: rgb(208, 255, 160);
}
/* Hotel End */